---
layout: page
title: Categories
permalink: /category-list/
---

Access all of the articles for a particular category by selecting an item from the list below:

<ul>
    {% for cat in site.data.categories %}
    <li>
        {% if cat.count >1 %}
        <a href="/categories/{{ cat.category | slugify }}">{{ cat.category | replace:'-', ' ' }} ({{cat.count}}
                Posts)</a>
        {% else %}
        <a href="/categories/{{ cat.category | slugify }}">{{ cat.category | replace:'-', ' ' }} ({{cat.count}}
                Post)</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>