---
layout: default
title: Random Development Errors
---

<div class="home">

  {%- if page.title -%}
  <h2 class="page-heading">{{ page.title }}</h2>

  {%- endif -%}

  <p>This site is a place to document the solutions for the random problems and errors I
    encounter when I write code or learn new technologies. For most of the topics listed below,
    I created the article only after completing an extensive Internet search for a solution,
    but couldn't find one, before finally figuring it out myself. The site contains
    {{ paginator.total_posts }} articles spread across {{ paginator.total_pages }} pages;
    this is page #{{ paginator.page }}.</p>

  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      &lt; Previous Page</a>
    {% else %}
    <span class="previous">Previous Page</span>
    {% endif %}
    |
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next Page &gt;</a>
    {% else %}
    <span class="next ">Next Page</span>
    {% endif %}
  </div>
  <br />

  {%- if site.posts.size > 0 -%}
  <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
  <h2 class="post-title">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in paginator.posts -%}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">
        <h3>{{post.title | escape }}</h3>
      </a>
      <span class="post-meta">
        {% if post.categories == empty %}
        {{post.date | date: "%Y-%b-%-d"}} | Uncategorized
        {% else %}
        {{post.date | date: "%Y-%b-%-d"}} | {{post.categories | array_to_sentence_string}}
        {% endif %}
      </span>
      {{ post.excerpt }}
      {% if post.excerpt != post.content %}
      <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
      {% endif %}
    </li>
    {%- endfor -%}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      &lt; Previous Page</a>
    {% else %}
    <span class="previous">Previous Page</span>
    {% endif %}
    |
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next Page &gt;</a>
    {% else %}
    <span class="next ">Next Page</span>
    {% endif %}
  </div>
  <br />
  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

  <a href="https://www.buymeacoffee.com/johnwargo" target="_blank"><img
      src="https://cdn.buymeacoffee.com/buttons/v2/arial-yellow.png" alt="Buy Me A Coffee"
      style="height: 60px !important;width: 217px !important;"></a>

</div>